@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.background-container{
    background: url('../../../public/images/black-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.hidescrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hidescrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  